<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Inventario</title>
</head>
<body>
    <form action="/actualizar" method="post" enctype="multipart/form-data">
        <h3>Datos del producto</h3><br>
        <label for="produc">Nombre del producto: </label>
        <input required type="text" name="produc" readonly>
        <br>
        <label for="desc">Descripción: </label>
        <input required type="text" name="desc" readonly>
        <br>
        <label for="cant">Cantidad: </label>
        <input required type="number" name="cant">
        <br>
        <label for="categ">Categoria: </label>
        <input required type="text" name="categ" readonly>
        <br>
        <br><br>
        <input type="submit" value="Guardar" style="background-color:rgb(255, 191, 0); font-size: 20px; font-family: cursive; margin-right: 20px;">
        
    <a href="/">
        <input type="button" value="regresar" style="background-color:rgb(255, 191, 0); font-size: 20px; font-family: cursive; margin-right: 20px;"></a>
    </form>
</body>
</html>